*{
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.wrap{
    height:500px;
    width: 350px;
    border: 2px solid black;
    border-radius: 23px;
    display: flex;
    gap: 40px;
   
}

.box1{
    
      }
img{
        width: 350px;
        border-radius: 20px 20px 0 0;
      }

      .button{
        margin-top: 25px;
        margin-left: 20px;
        background-color: rgb(130, 130, 199);
        color: white;
        border: none;
        border-radius: 15px;
        height: 20px;
        width: 110px;
      }

      h1{
        font-size: 110%;
        margin-left: 20px;
        margin-top: 30px;
      p{
        font-size: 90%;
        margin-top: 30px;
      }
}

.text{
    margin-top: 50px;
    margin-left: 20px;
}
.box2{
    img{
        height: 196px;
    }

    border: 2px solid black;
    border-radius: 23px;

    p{
        margin-top: 30px;
        margin-left: 20px;
    }

    button{
        background-color: rgb(33, 33, 61);
    }
}

.box3{
    border: 2px solid black;
    border-radius: 23px;

    p{
        margin-top: 40px;
        margin-left: 20px;
    }
}

.box11{
    width: 70px;
    border-radius: 30px;
}

.flex1{
   display: flex;
   gap: 10px;
   font-size: 80%;
   margin-top: 35px;
   margin-left: 20px;
   img{
    width: 50px;
   } 



}

.flex2{
  img{
 width: 50px;
 height: 50px;
  }
  display: flex;
  gap: 10px;
  font-size: 80%;
  margin-top: 35px;
  margin-left: 20px;
}

.flex3{
    img{
        width: 50px;
    }
    display: flex;
    font-size: 80%;
    gap: 10px;
    margin-top: 85px;
    margin-left: 20px;
}